
<!-- Breadcumb -->
<div class="container-fluid container-padded dash-controls">

	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Bet Manager</a></li>
				<li class="active">Bankroll</li>
			</ol>
		</div>
	</div>
</div>

<div class="main-content">
	<section>

		<!-- Page Title -->
		<div class="container-fluid container-padded">
			<div class="row">
				<div class="col-md-12 page-title">
					<h2>{{bank.pageTitle}}</h2>
					<hr>
				</div>
			</div>
		</div>


		<div class="container-fluid container-padded">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{bank.tableTitle}}</h3>
						</div>
						<!-- 						<div id="mydiv"> -->
						<!-- 						    <img src="assets/images/squares-loading.gif" class="ajax-loader" ng-show="bank.loading"/> -->
						<!-- 						</div> -->
						<div class="panel-body">
							<div class="panel-body">
								<table id="bankrollTable"
									class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Bankroll</th>
											<th>Criado em</th>
											<th>Saldo</th>
											<th>Lucro</th>
											<th>Ações</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="b in bank.bankrolls">
											<td>{{b.id}}</td>
											<td>{{b.description}}</td>
											<td>{{b.createdDate}}</td>
											<td>{{ b.actualBankrollValue | currency }}</td>
											<td>{{ b.yieldValue | currency }}</td>
											<td>
												<button class="btn btn-labeled btn-info"
													ng-click="bank.insertNavigation( b.id );">
													Criar<span class="btn-label btn-label-right"><i
														class="glyphicon glyphicon-arrow-right"></i></span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

</div>
