
<!-- Breadcumb -->
<div class="container-fluid container-padded dash-controls">

	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Bet Manager</a></li>
				<li><a href="#!betmanaget/bankroll">Bankroll</a></li>
				<li class="active">Criar Aposta</li>
			</ol>
		</div>
	</div>
</div>

<div class="main-content">
	<section>

		<!-- Page Title -->
		<div class="container-fluid container-padded">
			<div class="row">
				<div class="col-md-12 page-title">
					<h2>{{bank.pageTitle}}</h2>
					<hr>
				</div>
			</div>
		</div>


		<div class="container-fluid container-padded">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{bank.panel1Title}}</h3>
						</div>
						<div id="mydiv">
							<img src="assets/images/squares-loading.gif" class="ajax-loader"
								ng-show="bet.loading" />
						</div>
						<div class="panel-body">
						
<!-- 						BANKROLL SELECIONADO -->
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">Bankroll</label>
									<div class="col-md-10">{{bet.bankrollSelected.id}} -
										{{bet.bankrollSelected.description}} 
										(Saldo: {{bet.bankrollSelected.actualBankrollValue | currencyMask:'mask':'BRL' }})</div>
								</div>
							</div>

<!-- 						DIA DA APOSTA -->
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">Data</label>
									<div class="col-md-9">
										<div class="input-group col-md-6">
											<input date-range-picker name="betDate" id="betDate" class="form-control date-picker" type="text"
                           						ng-model="bet.betDate" options="{singleDatePicker: true}" required/>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
								</div>
							</div>
							
<!-- 						COMPETIÇÃO SELECIONADA -->
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">Competição</label>
									<div class="col-md-9">
										<select class="form-control"
											ng-model="bet.competitionSelected"
											ng-options="comp.name for comp in bet.competitionList track by comp.id"
											ng-change="bet.listTeams()">
										</select>
									</div>
								</div>
							</div>

<!-- 						COMBO DOS TIMES -->
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">Partida</label>
									<div class="col-md-4">
										<select class="form-control" ng-model="bet.homeTeamSelected"
											ng-options="tcs.team.name for tcs in bet.teamsList track by tcs.id">
										</select>
									</div>
									<div class="col-md-1" style="text-align: center; bottom: -8px">
										<img alt="vs" src="assets/images/versus-image.png" height="20">
									</div>
									<div class="col-md-4" style="text-align: right;">
										<select class="form-control" ng-model="bet.awayTeamSelected"
											ng-options="tcs.team.name for tcs in bet.teamsList track by tcs.id">
										</select>
									</div>
								</div>
							</div>
							
<!-- 						MERCADO SELECIONADO --> 
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">Mercado</label>
									<div class="col-md-5">
										<select class="form-control"
											ng-model="bet.marketSelected"
											ng-options="market as (market.marketBet.name +' - '+ market.name) for market in bet.marketList track by market.id" >
										</select>
									</div>
								</div>
							</div>

<!-- 						CAMPO: VALOR APOSTADO -->
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">$ Aposta</label>
									<div class="col-md-3">
										<input type="text" class="form-control" name="betAmount" ng-change="bet.calculateROI();bet.calculateProfitability();"	ng-model="bet.betAmount" ng-currency-mask>
									</div>
								</div>
							</div>
<!-- 						CAMPO: VALOR RETORNO -->
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">Lucro</label>
									<div class="col-md-3">
										<input type="text" class="form-control" name="profitValue" ng-change="bet.calculateROI();" ng-model="bet.profitValue" ng-currency-mask>
									</div>
								</div>
							</div>

<!-- 						CAMPO: ROI -->
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">ROI</label>
									<label class="col-md-2 control-label">{{bet.percentROI}}%</label>
								</div>

							</div>
							
<!-- 						CAMPO: % da banca -->
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">% da Banca</label>
									<label class="col-md-2 control-label">{{bet.betPercentualBankroll}}%</label>
								</div>
							</div>
							
<!-- 						STATUS APOSTA --> 
							<div class="form-group">
								<div class="row">
									<label class="col-md-2 control-label">Status</label>
									<div class="col-md-5">
										<select class="form-control"
											ng-model="bet.betStatusSelected"
											ng-options="status for status in bet.betStatusList track by status" >
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-12" style="text-align: right;">
										<button type="button" class="btn btn-primary" ng-click="bet.sendBet();">Finalizar</button>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
