
<!-- Breadcumb -->
<div class="container-fluid container-padded dash-controls">

	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Jogos</a></li>
				<li class="active">Jogos do Dia</li>
			</ol>
		</div>
	</div>
</div>

<div class="main-content">
	<section>

		<!-- Page Title -->
		<div class="container-fluid container-padded">
			<div class="row">
				<div class="col-md-12 page-title">
					<h2>{{match.title}}</h2>
					<hr>
				</div>
			</div>
		</div>

		<div class="container-fluid container-padded">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Jogos</h3>
						</div>
						<div class="panel-body">
							<table id="matchTable" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Competition</th>
										<th>Home</th>
										<th style="text-align: center;"></th>
										<th>Away</th>
										<th>FR_H</th>
										<th>DC_H</th>
										<th>HO_0.5</th>
										<th>FR_H</th>
										<th>DC_A</th>
										<th>AO_0.5</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="m in match.matches">
										<td>{{m.matchResume.competitionSeason.competition.name}}
											({{m.matchResume.competitionSeason.season.name}})</td>
										<td>{{m.matchResume.homeTeamMatch.team.name}}</td>
										<td style="text-align: center;"><a href="{{m.matchResume.linkMatch}}}" target="_blank">X</a></td>
										<td>{{m.matchResume.awayTeamMatch.team.name}}</td>
										<td>{{m.matchstatistics.homeTeamStats.fulltimeProbabilities[0].stats.value}}</td>
										<td>{{m.matchstatistics.homeTeamStats.doubleChanceProbabilities[0].stats.value}}</td>
										<td>{{m.matchstatistics.homeTeamStats.goalsProbabilities[0].probability.value}}</td>
										<td>{{m.matchstatistics.awayTeamStats.fulltimeProbabilities[0].stats.value}}</td>
										<td>{{m.matchstatistics.awayTeamStats.doubleChanceProbabilities[0].stats.value}}</td>
										<td>{{m.matchstatistics.awayTeamStats.goalsProbabilities[0].probability.value}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</div>
<script>
		$(document).ready(function() {
			
			
		});
	</script>