<div class="container-fluid container-padded dash-controls"> <!-- Breadcumb -->
	
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Library</a></li>
				<li class="active">Data</li>
			</ol>
		</div>
	</div>
</div>

<div class="main-content">
	<section>

		<div class="container-fluid container-padded">
			<!-- Page Title -->
			<div class="row">
				<div class="col-md-12 page-title">
					<h2>Relatórios</h2>
					<hr>
				</div>
			</div>
		</div>

		<div class="container-fluid container-padded">
			<div class="row">
			</div>
		</div>

	</section>

</div>