
<nav class="navbar navbar-default navbar-transparent">
	<div class="container" id="nav-container">
		<div class="navbar-header">
			<button class="navbar-toggle navbar-toggle-settings"
				data-target="#top-navbar" data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span> <i
					class="ion ion-ios7-gear-outline"></i>
			</button>
			<a class="navbar-brand logo" href="#"> <img src="../assets/images/logoTeste.png"
				alt="App logo" width="175">
			</a>
			<div class="navbar-side-menu-toggle">
				<button class="toggle-btn" type="button">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
		</div>
	</div>
</nav>
